.App {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.App label {
  white-space: nowrap;
}

.LeftColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 50%;
}
.LeftColumn-TopPanel {
  flex: 2;
  overflow-x: auto;
}
.LeftColumn-BottomPanel {
  border-top: 1px solid black;
  flex: 1;
  display: flex;
  max-height: 33%;
}
.RightColumn {
  border-left: 1px solid black;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.RightColumn-TopPanel {
  flex: 2;
  display: flex;
}
.RightColumn-BottomPanel {
  border-top: 1px solid black;
  flex: 1;
  max-height: 33%;
}
