.App {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.LeftColumn {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.LeftColumn-TopPanel {
  flex: 1;
}
.LeftColumn-BottomPanel {
  border-top: 1px solid black;
  flex: 1;
  display: flex;
}
.RightColumn {
  border-left: 1px solid black;
  flex: 1;
}
