.ColDescriptorEditor-Columns {
  display: flex;
  gap: 8px;
}

.ColDescriptorEditor-Column {
}

.ColDescriptorEditor-ColumnHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ColDescriptorEditor-ColumnRow {
  display: flex;
}
